/*Componente principal*/
.book-reviews{
    margin-top: 10rem;
    height: 100vh;
    padding: 1rem;
}



/*Titulo principal da página*/
.book-reviews-title{
    font-size: 2rem;
    text-align: center;
}

/*Card com as informações previas sobre a resenha*/
.review-card  {
    background-color: tomato;
    display: block;
    place-items: center;
    height: 65vh;
    border-radius: 10px;
    padding: 1rem;
    margin: 10px;
    width: 70rem;
}

/*Capa do livro da resenha*/
.review-book-cover {
    width: 200px; 
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    padding: 1rem;
  }

  .review-card h3{
    font-size: 20px;
    text-align: center;
  }

  /*texto da resenha*/
  .text-limited{
    height: auto;
    padding: 1rem;
    font-size: 18pxpx;
    text-align: center;
    
  }

  @media (min-width: 481px) and (max-width: 768px) { 

  }

  @media (min-width: 769px) and (max-width: 1024px) { 

  }

  @media (min-width: 1025px) and (max-width: 1440px) { 

  }

  @media (min-width: 1441px)  { 

  }

