.BenefitsOfReading {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.benefits-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-item {
    width: 55%;
    margin: 2rem;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    line-height: 1.3;
    font-family: "Shadows Into Light Two", serif;
}

.subtitle {
    text-transform: uppercase;
    color: rgb(15, 172, 172);
}

.par-arg {
    align-self: flex-end;
}

.impar-arg {
    align-self: baseline;
}

.books-sorted-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    text-align: center;
    padding: 2rem;
}

.books-sorted-div h2 {
    font-family: "Shadows Into Light Two", serif;
    font-size: 2rem;
}

.book-sorted-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    font-size: 22px;
}

.not-book {
    width: 350px;
    height: 400px;
}

.book-sorted-cover{
    width: 350px;
    height: 400px;
    margin: 1.5rem;
}

.sort-btn {
    background-color: #007bff; /* Azul padrão */
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s ease;
    margin-top: 2rem;
}


.sort-btn:hover {
    background-color: #0056b3; /* Azul mais escuro no hover */
    transform: scale(1.05);
}
