/* Estilos para telas menores (até 768px) */
@media screen and (max-width: 768px) {
    .BenefitsOfReading {
        margin-top: 100vh;
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
    }

    .benefits-list {
        width: 100%;
        align-items: center;
    }

    .benefits-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .benefit-item {
        width: 80%;
        font-size: 1.2rem;
        padding: 1rem;
    }

    .books-sorted-div {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .books-sorted-div h2 {
        font-size: 1.8rem;
    }

    .book-sorted-display {
        font-size: 18px;
    }

    .not-book,
    .book-sorted-cover {
        width: 250px;
        height: 300px;
    }

    .sort-btn {
        width: 80%;
        font-size: 1rem;
        padding: 10px 20px;
    }
}

.BenefitsOfReading {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.benefits-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-item {
    width: 55%;
    margin: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
    line-height: 1.3;
    font-family: "Shadows Into Light Two", serif;
    transition: 0.5s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.192);
    border-radius: 5px;
}

.benefit-item:hover {
    box-shadow: 4px 5px 10px rgba(0, 5, 5, 0.644);
}

.benefit-reading-cover{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1rem;
    padding: 0.1rem;
}

.subtitle {
    text-transform: uppercase;
    color: rgb(15, 172, 172);
}

.par-arg {
    align-self: flex-end;
}

.impar-arg {
    align-self: baseline;
}

.books-sorted-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    text-align: center;
    padding: 2rem;
}

.books-sorted-div h2 {
    font-family: "Shadows Into Light Two", serif;
    font-size: 2rem;
}

.book-sorted-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    font-size: 22px;
}

.not-book {
    width: 350px;
    height: 400px;
}

.book-sorted-cover{
    width: 350px;
    height: 400px;
    margin: 1.5rem;
}

.sort-btn {
    background-color: #007bff; /* Azul padrão */
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s ease;
    margin-top: 2rem;
}


.sort-btn:hover {
    background-color: #0056b3; /* Azul mais escuro no hover */
    transform: scale(1.05);
}
