@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
html{
    font-family: sans-serif;
    
}

a, button{
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);

}

.special-word{
    color: rgb(106, 7, 199);
}