@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #680091;
    --secondary-color: rgb(189, 82, 235);
    --text-color: rgb(68, 67, 67);
    --color-default: #f9f9f9; 

    --primary-color-dark: rgb(33, 0, 65);
    --secondary-color-dark: purple; 
    --text-color-dark: rgba(128, 128, 128, 0.507);
}

.enabled-link {
    border-bottom: 2px solid var(--secondary-color);

}

.disabled-link{
    background-color: inherit;
}

body{
    font-family: arial;
}

.fixed {
    position: static;
}

.left-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: inherit;
    transform: scaleX(-1);
    padding: 10px;
    cursor: pointer;
}

.right-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: inherit;
    padding: 10px;
    cursor: pointer;
}

.right-arrow:hover, .left-arrow:hover {
    background-color: rgba(128, 128, 128, 0.151);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1, h2, h3,h4, h5, h6{
    font-weight: bold;
}

html{
    font-family: sans-serif;
    
}

.simply-btn{
    background-color: white;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    width: 10rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.simply-btn:hover{
    background-color: rgba(128, 128, 128, 0.233);
}

a, button{
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

.special-word{
    color: rgb(106, 7, 199);
}

.list-of-books{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list-of-books li{
    background-color: rgba(90, 90, 86, 0.068);
    width: 10vw;
    margin: 10px;
    height: 25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 10px;
    
}

.list-of-books li img{
    align-self: center;
}

.seeMore-btn{
    align-self: center;
    
}

.lamp {
    cursor: pointer;
}

