/* Estilos base (Aplicados a todos os tamanhos de tela) */
.home-introduce-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Montserrat", serif;
}

.section-principal-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 2rem;
}

.home-intro-principalText {
    color: rgb(8, 8, 8);
    font-weight: bold;
    text-transform: capitalize;
}

.home-intro-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.cover-gallery {
    border-radius: 10px;
    margin: 20px;
}

/* Classes específicas para posicionamento das imagens */
.cover-one {
    align-self: baseline;
}

.cover-two {
    align-self: end;
}

.cover-three {
    align-items: baseline;
}

/* 1. Estilos para celulares pequenos (320px - 590px) */
@media screen and (min-width: 320px) and (max-width: 590px) { 
    .section-principal-text {
        margin-top: 12rem;
    }

    .home-intro-principalText {
        font-size: 3rem;
        width: 60%;
    }

    .home-intro-gallery {
        margin-top: 18rem;
        width: 40%;
    }

    .cover-gallery {
        width: 140px;
        height: 150px;
    }
}

/* 2. Estilos para tablet (591px - 750px) */
@media screen and (min-width: 591px) and (max-width: 750px) {
    .section-principal-text {
        margin-top: 16rem;
    }

    .home-intro-principalText {
        font-size: 3.5rem;
    }

    .home-intro-gallery {
        margin-top: 20rem;
        width: 40%;
    }

    .cover-gallery {
        width: 150px;
        height: 180px;
    }
}

/* 3. Estilos para notebook (751px - 1024px) */
@media screen and (min-width: 751px) and (max-width: 1024px) { 
    .section-principal-text {
        margin-top: 6rem;
    }

    .home-intro-principalText {
        font-size: 4rem;
    }

    .home-intro-gallery {
        margin-top: 12rem;
        width: 40%;
        height: 100%;
    }

    .cover-gallery {
        width: 150px;
        height: 180px;
    }
}

/* 4. Estilos para desktop (1026px - 1920px) */
@media screen and (min-width: 1025px) and (max-width: 1920px) { 
    .home-introduce-container {
        justify-content: space-around;
    }

    .section-principal-text {
        margin-top: 3rem;
        width: 40%;
    }

    .home-intro-principalText {
        font-size: 5rem;
        text-align: center;
    }

    .home-intro-gallery {
        margin-top: 3rem;
        flex-direction: column;
        width: 30%;
        padding: 3rem;
    }

    .cover-gallery {
        width: 230px;
        height: 250px;
        margin: 10px;
    }
}