.books-page{
    background-color: aqua;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;   
}

.search-form input{
        width: 85%;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid black;
    }

.search-form button{
        width: 10%;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        transition: 0.2s;
        font-weight: bold;

    }
.search-form button:hover {
        background-color: gray;
        color: white
    }
