.create-challenge-list{
    background-color: turquoise;
    width: 1005;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.create-challenge-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
  
}

.par-arg {
    background-color: rgb(250, 171, 0);
    width: 70%;
    align-self: flex-start;
}

.impar-arg{
    border: 5px solid darkmagenta;
    border-radius: 10px;
    width: 70%;
    align-self: flex-end;
}

.create-challenge-infor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: plum;
    height: 15rem;
    width: 70%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}