.readingChallenge{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.readingChallenge-section-logo{
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    padding: 1rem;
    text-transform: capitalize;
}

.readingChallenge-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.readingChallenge-list{
    height: 100%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.readingChallenge-list li{
    margin: 10px;
    height: 10rem;
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.2s;
    border-radius: 50%;
}

.readingChallenge-list li p{
    font-weight: bold;
    font-size: 22px;
}

.challenge{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.color1:hover {
    background-color: white;
    background-image: url(../../../assets/icons/desafio1.png);
    background-size: 10%;
    opacity: 0,02;
}

.color2:hover {
    background-image: url(../../../assets/icons/desafio2.png);
    background-size: 10%;
}

.color3:hover {
    background-image: url(../../../assets/icons/desafio3.png);
    background-size: 10%;
}

.color4:hover {
    background-image: url(../../../assets/icons/desafio4.png);
    background-size: 10%;
}

.color5:hover {
    background-image: url(../../../assets/icons/desafio5.png);
    background-size: 10%;
}

.color6:hover {
    background-image: url(../../../assets/icons/desafio6.png);
    background-size: 10%;
}

.challenge-icon {

}






