.readingChallenge{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.readingChallenge-section-logo{
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    padding: 1rem;
    text-transform: capitalize;
}

.readingChallenge-section-lists{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.readingChallenge-primary-list, .readingChallenge-second-list{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.readingChallenge-primary-list li, .readingChallenge-second-list li{
    padding: 2rem;
    height: 10rem;
    width: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 19px;
    transition: 0.2s;
    border: 3px solid white;
}

.impar{
    align-self: flex-start;
    border-radius: 80% 40%;
}

.par{
    align-self: flex-end;
    border-radius: 40% 80%;
}

.impar:hover, .par:hover{
    background-color: white;
    border-color: var(--secondary-color);
}

.challenge{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.color1{
    background-color: lightcoral;
}

.color2{
background-color: lightgreen;
}

.color3 {
background-color: lightskyblue;
}

.color4 {
background-color: orchid;
}

.color5 {
    background-color: lightsalmon;
}

.color6{
background-color: lightseagreen;
}





